<h1><%= @author.full_name %></h1>

<h2><%= pluralize(@author.books.count, "Books") %></h2>
<ol>
  <% @author.books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ol>

<h2><%= pluralize(@author.locations.count, "Locations") %></h2>
<ol>
  <% @author.locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
  <% end %>
</ol>
  
<%= link_to "All Authors", authors_path %>
