<h1><%= @book.title %></h1>
<p>By <%= link_to @book.author.full_name, author_path(@book.author) %> </p>

<p>
  Available at <%= pluralize @book.locations.count, "location" %>
</p>

<ul>
  <% @book.locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "All Books", books_path %>
